{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Authorization API"
    },
    "host": "auth.healthwise.net/",
    "schemes": [
        "http"
    ],
    "paths": {
        "/accesscode": {
            "post": {
                "tags": [
                    "AccessCode"
                ],
                "operationId": "AccessCode_RegisterAccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegisterAccessCodePostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/accesscode": {
            "post": {
                "tags": [
                    "AccessCode"
                ],
                "operationId": "AccessCode_RegisterAccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegisterAccessCodePostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/accesscode/claim": {
            "post": {
                "tags": [
                    "AccessCode"
                ],
                "operationId": "AccessCode_ClaimAccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClaimAccessCodePostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/accesscode/claim": {
            "post": {
                "tags": [
                    "AccessCode"
                ],
                "operationId": "AccessCode_ClaimAccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClaimAccessCodePostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "operationId": "Applications_GetApplications",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Applications"
                ],
                "operationId": "Applications_CreateApplication",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "createRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateApplicationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{id}": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "operationId": "Applications_GetApplication",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Applications"
                ],
                "operationId": "Applications_DeleteApplication",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{id}/userpermissions": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "operationId": "Applications_GetUserPermissionsForApplication",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/clients": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "operationId": "Clients_GetClients",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Clients"
                ],
                "operationId": "Clients_CreateClient",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClientPost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/clients/{clientToken}": {
            "get": {
                "tags": [
                    "Clients"
                ],
                "operationId": "Clients_GetClient",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientToken",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Clients"
                ],
                "operationId": "Clients_DeleteClient",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientToken",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Clients"
                ],
                "operationId": "Clients_UpdateClient",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientToken",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClientPost"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "tags": [
                    "HealthCheck"
                ],
                "operationId": "HealthCheck_Check",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/health/{id}": {
            "get": {
                "tags": [
                    "HealthCheck"
                ],
                "operationId": "HealthCheck_Check",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/health/plain": {
            "get": {
                "tags": [
                    "HealthCheck"
                ],
                "operationId": "HealthCheck_Plain",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/health/soft": {
            "get": {
                "tags": [
                    "HealthCheck"
                ],
                "operationId": "HealthCheck_Soft",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/health/pulse": {
            "get": {
                "tags": [
                    "HealthCheck"
                ],
                "operationId": "HealthCheck_Pulse",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/hw/token": {
            "post": {
                "tags": [
                    "HwKey"
                ],
                "operationId": "HwKey_ExchangeForNonLoginHwKey",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommunicateKeyContainer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/hw/token": {
            "post": {
                "tags": [
                    "HwKey"
                ],
                "operationId": "HwKey_ExchangeForNonLoginHwKey",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "key",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CommunicateKeyContainer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/api/HwKey": {
            "post": {
                "tags": [
                    "HwKey"
                ],
                "operationId": "HwKey_DecryptHwKey",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "accessKey",
                        "in": "query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/HealthwiseToken"
                        }
                    }
                }
            }
        },
        "/info": {
            "get": {
                "tags": [
                    "Info"
                ],
                "operationId": "Info_GetInfo",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/licensedproducts": {
            "get": {
                "tags": [
                    "LicensedProducts"
                ],
                "operationId": "LicensedProducts_GetLicensedProducts",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/clienttokens/{token}/name": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetTokensNames",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/clienttokens/{token}/name": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetTokensNames",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/clienttokens/{token}/registrations": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetRegistrationsForClientName",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "token",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/clientnames": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClientNames",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/clientnames": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClientNames",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/clientids": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClientIds",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/clientids": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClientIds",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/clientids/{id}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClient",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/clientids/{id}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetClient",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/register/{id}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetRegistration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/register/{id}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetRegistration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/register": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetRegistrationFromJwt",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_Register",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegistrationPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/register": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_Register",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegistrationPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/register/{clientId}": {
            "delete": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_DeleteRegistration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_UpdateRegistration",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegistrationPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/register/{clientId}": {
            "delete": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_DeleteRegistration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_UpdateRegistration",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "post",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RegistrationPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/code": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_ProvideAcccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccessCodeRequestPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/code": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_ProvideAcccessCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AccessCodeRequestPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/servicetoken": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_ProvideServiceToken",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestAccessTokenPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_ProvideToken",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestAccessTokenPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/token": {
            "post": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_ProvideToken",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/RequestAccessTokenPostBody"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/certs": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetCertificateKeys",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/certs": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetCertificateKeys",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/certs/{kid}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetCertificateKey",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/certs/{kid}": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetCertificateKey",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "kid",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/.well-known/openid-configuration": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetOpenIdConfiguration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/oauth2/.well-known/openid-configuration": {
            "get": {
                "tags": [
                    "OAuth2"
                ],
                "operationId": "OAuth2_GetOpenIdConfiguration",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_GetPermissions",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_CreatePermission",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreatePermissionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/permissions/{permissionId}": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_GetPermission",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_DeletePermission",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_UpdatePermission",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreatePermissionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/roles/{roleId}/permissions": {
            "get": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_GetRolePermissionAssociations",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_CreateRolePermissionAssociations",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_CreateRolePermissionAssociations",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissions",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/roles/{roleId}/permissions/{permissionId}": {
            "delete": {
                "tags": [
                    "Permissions"
                ],
                "operationId": "Permissions_DeleteRolePermissionAssignment",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/products": {
            "get": {
                "tags": [
                    "Products"
                ],
                "operationId": "Products_GetProductList",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Products"
                ],
                "operationId": "Products_AddProduct",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddProductRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/products/{productName}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "operationId": "Products_GetProductScopeMappings",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "productName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Products"
                ],
                "operationId": "Products_DeleteProduct",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "productName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Products"
                ],
                "operationId": "Products_UpdateProduct",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "productName",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddProductRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/roles": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetRoles",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_CreateRole",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateRoleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/roles/{roleId}": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetRole",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_DeleteRole",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_UpdateRole",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateRoleRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{id}/roles": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetRolesFromUser",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_AssignRolesToUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleIds",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_ReplaceRolesOnUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleIds",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{id}/roles/{roleId}": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetRoleFromUser",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_RemoveRoleFromUser",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/roles/{roleId}/users": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetUsersFromRole",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "roleId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/applications/{applicationId}/permissions/{permissionId}/roles": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetRolesThatHavePermission",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "applicationId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "permissionId",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/roles/administrators/users": {
            "get": {
                "tags": [
                    "Roles"
                ],
                "operationId": "Roles_GetAllAdministratorUsersAcrossClienttokens",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/scopes": {
            "get": {
                "tags": [
                    "Scopes"
                ],
                "operationId": "Scopes_GetAvailableScopes",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spec": {
            "get": {
                "tags": [
                    "Spec"
                ],
                "operationId": "Spec_GetSpec",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/spec": {
            "get": {
                "tags": [
                    "Spec"
                ],
                "operationId": "Spec_GetSpec",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/spec/{schema}": {
            "get": {
                "tags": [
                    "Spec"
                ],
                "operationId": "Spec_GetSpecSchema",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "schema",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/spec/{schema}": {
            "get": {
                "tags": [
                    "Spec"
                ],
                "operationId": "Spec_GetSpecSchema",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "schema",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/test/{scope}": {
            "get": {
                "tags": [
                    "Test"
                ],
                "operationId": "Test_TestWithScope",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "scope",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/v1/test/{scope}": {
            "get": {
                "tags": [
                    "Test"
                ],
                "operationId": "Test_TestWithScope",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "scope",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/oauth2/authcodes": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_AuthCode",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "authCodeRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AuthCodeRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/super": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_CreateSuperUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "healthwiseUser",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HealthwiseUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_GetUsers",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_CreateUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "healthwiseUser",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HealthwiseUser"
                        }
                    },
                    {
                        "name": "sendEmail",
                        "in": "query",
                        "required": false,
                        "type": "boolean"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{id}/invitation": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_ResendInvitation",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "userInfo",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResendInviteUserInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{id}": {
            "get": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_GetUser",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_DeleteUser",
                "consumes": [],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            },
            "patch": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_PatchUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "healthwiseUser",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HealthwiseUser"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/{id}/welcome": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_WelcomeUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "welcomeUser",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/WelcomeUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/password": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_SetResetPassword",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "info",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ResetPasswordInfo"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/users/notify": {
            "post": {
                "tags": [
                    "Users"
                ],
                "operationId": "Users_NotifyUser",
                "consumes": [
                    "application/json",
                    "application/x-www-form-urlencoded"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NotifyUserRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "RegisterAccessCodePostBody": {
            "type": "object",
            "properties": {
                "client_token": {
                    "type": "string"
                },
                "member_id": {
                    "type": "string"
                }
            }
        },
        "ClaimAccessCodePostBody": {
            "type": "object",
            "properties": {
                "access_code": {
                    "type": "string"
                },
                "application_id": {
                    "type": "string"
                }
            }
        },
        "CreateApplicationRequest": {
            "type": "object",
            "properties": {
                "application_name": {
                    "type": "string"
                }
            }
        },
        "ClientPost": {
            "type": "object",
            "properties": {
                "client_name": {
                    "type": "string"
                },
                "client_token": {
                    "type": "string"
                },
                "alias": {
                    "type": "string"
                },
                "expirationDate": {
                    "type": "string"
                }
            }
        },
        "CommunicateKeyContainer": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "expirationInMinutes": {
                    "format": "int32",
                    "type": "integer"
                }
            }
        },
        "HealthwiseToken": {
            "type": "object",
            "properties": {
                "Id": {
                    "$ref": "#/definitions/KeyId"
                },
                "Expires": {
                    "format": "date-time",
                    "type": "string"
                },
                "DeliveryOption": {
                    "$ref": "#/definitions/DeliveryOption"
                },
                "Version": {
                    "$ref": "#/definitions/ReleaseQuarter"
                },
                "Localization": {
                    "$ref": "#/definitions/Localization"
                },
                "Member": {
                    "$ref": "#/definitions/Member"
                },
                "Resource": {
                    "$ref": "#/definitions/ContentResource"
                },
                "Prescription": {
                    "$ref": "#/definitions/PrescriptionInformation"
                },
                "Internal": {
                    "$ref": "#/definitions/Internal"
                },
                "AccessKey": {
                    "type": "string"
                },
                "TimeToLive": {
                    "format": "date-time",
                    "type": "string"
                },
                "Campaign": {
                    "$ref": "#/definitions/Campaign"
                },
                "Survey": {
                    "$ref": "#/definitions/Survey"
                },
                "Url": {
                    "$ref": "#/definitions/Url"
                },
                "AvailableLocalizations": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Localization"
                    }
                },
                "ProductKeys": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProductKey"
                    }
                },
                "AccessKeyObject": {
                    "$ref": "#/definitions/AccessKey"
                },
                "Question": {
                    "$ref": "#/definitions/Question"
                },
                "Features": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Feature"
                    }
                },
                "Options": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Option"
                    }
                }
            }
        },
        "KeyId": {
            "type": "object",
            "properties": {
                "Name": {
                    "type": "string",
                    "readOnly": true
                },
                "ClientToken": {
                    "type": "string",
                    "readOnly": true
                },
                "Child": {
                    "type": "string",
                    "readOnly": true
                },
                "Value": {
                    "type": "string",
                    "readOnly": true
                },
                "Voldemort": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "DeliveryOption": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "string",
                    "readOnly": true
                },
                "Description": {
                    "type": "string",
                    "readOnly": true
                },
                "Audience": {
                    "$ref": "#/definitions/DeliveryAudience",
                    "readOnly": true
                }
            }
        },
        "ReleaseQuarter": {
            "type": "object",
            "properties": {
                "Value": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "Localization": {
            "type": "object",
            "properties": {
                "Country": {
                    "type": "string",
                    "readOnly": true
                },
                "Language": {
                    "type": "string",
                    "readOnly": true
                },
                "Description": {
                    "type": "string",
                    "readOnly": true
                },
                "LocalizedName": {
                    "type": "string",
                    "readOnly": true
                },
                "Value": {
                    "type": "string",
                    "readOnly": true
                },
                "IanaLocaleValue": {
                    "type": "string",
                    "readOnly": true
                },
                "ISO639_2": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "Member": {
            "type": "object",
            "properties": {
                "Uid": {
                    "type": "string",
                    "readOnly": true
                },
                "GroupId": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "ContentResource": {
            "type": "object",
            "properties": {
                "Key": {
                    "$ref": "#/definitions/DocumentKey",
                    "readOnly": true
                },
                "Version": {
                    "type": "string",
                    "readOnly": true
                },
                "Context": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "PrescriptionInformation": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "string",
                    "readOnly": true
                },
                "CredentialTokens": {
                    "$ref": "#/definitions/CredentialTokens",
                    "readOnly": true
                }
            }
        },
        "Internal": {
            "type": "object",
            "properties": {
                "Name": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "Campaign": {
            "type": "object",
            "properties": {
                "Enrollment": {
                    "type": "string"
                },
                "Key": {
                    "$ref": "#/definitions/ContentKey"
                },
                "Assessment": {
                    "$ref": "#/definitions/Assessment"
                }
            }
        },
        "Survey": {
            "type": "object",
            "properties": {
                "Id": {
                    "type": "string"
                }
            }
        },
        "Url": {
            "type": "object",
            "properties": {
                "Value": {
                    "type": "string",
                    "readOnly": true
                }
            }
        },
        "ProductKey": {
            "type": "object",
            "properties": {
                "SerialNumber": {
                    "type": "string",
                    "readOnly": true
                },
                "Quarter": {
                    "$ref": "#/definitions/ReleaseQuarter",
                    "readOnly": true
                },
                "Name": {
                    "$ref": "#/definitions/ProductName",
                    "readOnly": true
                },
                "Localization": {
                    "$ref": "#/definitions/Localization",
                    "readOnly": true
                },
[...]
